In [11]:
import pandas as pd

In [12]:
data_frame = pd.read_csv('GapMinder.csv')

In [13]:
data_frame.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [14]:
data_frame.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165877
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846989
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [18]:
country = data_frame[data_frame['country']=='Argentina']

In [19]:
country.plot(x="year", y="lifeExp")

In [21]:
country.head()

      country  year         pop continent  lifeExp    gdpPercap
48  Argentina  1952  17876956.0  Americas   62.485  5911.315053
49  Argentina  1957  19610538.0  Americas   64.399  6856.856212
50  Argentina  1962  21283783.0  Americas   65.142  7133.166023
51  Argentina  1967  22934225.0  Americas   65.634  8052.953021
52  Argentina  1972  24779799.0  Americas   67.065  9443.038526

In [23]:
country.plot()

In [24]:
%matplotlib inline

In [ ]:
country.plot